
 .d-none
{
    display:none;
} 
.checkout-billing .button-fancy-large
{
    display:none;
}
.button-fancy-large
{
    display:none;
}
.default-creditcard .gpayerror .authError
{
    margin-left: 10%;
}
.gpayerror
{
    margin-left: 10%;
    color: red;
    font-size: 18px;
    font-weight: bold;
}
.authError
{
    margin-left: 10%;
    color: red;
    font-size: 18px;
    font-weight: bold;
}
/*
 * Gpay styles
 */
#google-pay-btn
{
    text-align: center; 
}
/*
*Save Card
*/
.save-card .form-row.label-inline.form-indent {
    margin-left: 0;
}

/*for converting vertical alignment radio buttons (payment type selection) to horizontal line*/
.payment-method-options .form-row {
    clear: none;
    float: left;
    width: 25%; }

    @media screen and (max-width: 767px) {
        .payment-method-options .form-row label {
            float: left;
            margin: 0;
            padding: 0 0 0 1em;
            width: 85px;
            }
    }

.sandbox-warning {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(119, 0, 0);
    padding: 8px 5px;
    font-family: Verdana;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}